#header{height:150px;}
#accentPannel{height:264px;}
#footer{height:365px;}
#rightCol .module .moduleBottom{bottom:-15px;}
#rightCol .module{margin-bottom:20px;}
.recentPosts li{width:100%;}
.infoMessage{height:30px;}
.navShadow{bottom:-10px;}