			<div id="topNav">
				<ul class="topNavigation">
					<li><%= link_to "HOME", root_path %></li>
					<li><a href="blog.html">PRAY FOR OTHERS</a></li>
					<li><a href="#">GET PRAYER</a></li>
					<li><%= link_to "ABOUT US", about_path %></li>
					<li><%= link_to "CONTACT US", contact_path %></li>
				</ul>
			</div>
		</div><!--[END]#header-->
		
		<div id="navigation">			
			<ul class="mainNav">
				<li class="first"><a href="#">Photoshop</a></li>
				<li><a href="#">Freebies</a></li>
				<li><a href="#">Startups</a></li>				
				<li><a href="#">Web Design</a></li>
				<li><a href="#">Tutorials</a></li>
				<li><a href="#">Programming</a></li>				
			</ul>
		</div><!--[END]#navigation-->
