		<div id="rightCol">
			<!--Search module -->
			<div id="searchModule">
				<div class="content">
					<p class="title"><span>Search</span> Our Site</p>
					<form id="searchForm" action="" method="post">
						<input type="text" name="searchBox" class="input" id="searchBox" />
						<input type="submit" id="submit" class="submit" value="" />
					</form>
				</div>
			</div>
			<!--[END}Search module -->
			
			<!--Twitter module -->
			<div class="module">
				<div class="moduleTop"></div>
				<div class="content">
					<p class="title"><span>Twitter</span> Updates</p>
					<ul class="twitter">
						<li><a href="#">Just twittering for good times</a>  2 mins ago</li>
						<li><a href="#">Another fake twitter post, hurray</a> 1 hour ago</li>
						<li><a href="#">Eating breakfast is fun.</a> 3 hours ago</li>
						<li><a href="#">Some link to an amazing size http://tinyurl/234</a> 4 hours ago</li>
					</ul>
				</div>
				<div class="moduleBottom"></div>				
			</div>
			<!--[END}Twitter module -->
			
			<!--Popular Posts -->
			<div class="module">
				<div class="moduleTop"></div>
				<div class="content">
					<p class="title"><span>Popular</span> Articles</p>
					<ul class="popularPosts">
						<li><a href="#">Learn to code PSD to html hand  2 mins ago</a></li>
						<li><a href="#">Take photoshop to the next level 1 hour ago</a></li>
						<li><a href="#">Balance your budget and pay off credit cards 3 hours ago</a></li>
						<li><a href="#">Gas is the devil - a look at alternative fueling 4 hours ago</a></li>
					</ul>
				</div>
				<div class="moduleBottom"></div>				
			</div>
			<!--[END]Popular Posts -->
			
			<!--Categories -->
			<div class="module">
				<div class="moduleTop"></div>
				<div class="content">
					<p class="title"><span>Popular</span> Categories</p>
					<ul class="popularCategores">
						<li><a href="#">Photoshop</a></li>
						<li><a href="#">Freebies</a></li>
						<li><a href="#">Tutorials</a></li>
						<li><a href="#">Photography</a></li>
						<li><a href="#">World News</a></li>
						<li><a href="#">Social Media</a></li>
					</ul>
				</div>
				<div class="moduleBottom"></div>				
			</div>
			<!--[END]Categories -->			
			
			<!--Newsletter module -->
			<div class="module">
				<div class="moduleTop"></div>
				<div class="content">
					<p class="title signup"><span>SignUp</span> For Our Newsletter</p>
					<p class="subtext">Enter your email address to subscribe to our newsletter</p>
					<form id="signupForm" action="" method="post">
						<input type="text" name="searchBox" class="input" id="signupBox" />
						<input type="submit" class="submit" value="" />
						<div class="clear"></div>
					</form>
				</div>
				<div class="moduleBottom"></div>
			</div>
			<!--[END]Newsletter module -->
		
		</div><!--[END]#rightCol-->	
